.env-confirm{
    position: relative;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.8);
    z-index: 10;
}
.env-confirm-container{
    background: #f5f9ff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 15px;
    width: 60%;
    height: 30%;
    padding-top: 130px;
}
.env-confirm-hidden{
    display: none;
}