.env-path-preview{
    position: relative;
    display: flex;
    width: 100%;
    white-space: nowrap;
    max-width: 500px;
}
.env-path-preview:not(:last-child) {
    margin-bottom: var(--data-margin-bottom);
}
.env-path-preview-protocol{
    white-space: nowrap;
    display: block;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: #fff;
    border: 1px solid #CDD9ED;
    background: #99A3BA;
    transition: border .3s ease;
    position: relative;
    z-index: 1;
    margin-top: 0;
    margin-bottom: 0;
}
.env-path-preview-dash{
    white-space: nowrap;
    display: block;
    text-align: center;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 25px;
    color: #99a3ba;
    background: #eef4ff;
    border: 1px solid #cdd9ed;
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}
.env-path-preview-host{
    white-space: nowrap;
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: #fff;
    border: 1px solid #CDD9ED;
    background: #99A3BA;
    transition: border .3s ease;
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-top: 0;
    margin-bottom: 0;
}

.env-path-preview-protocol:not(:first-child):not(:last-child), 
.env-path-preview-host:not(:first-child):not(:last-child), 
.env-path-preview-dash:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.env-path-preview-protocol:first-child, 
.env-path-preview-host:first-child, 
.env-path-preview-dash:first-child {
    border-radius: 6px 0 0 6px;
}
.env-path-preview-protocol:last-child, 
.env-path-preview-host:last-child, 
.env-path-preview-dash:last-child {
    border-radius: 0 6px 6px 0;
}
.env-path-preview-protocol:not(:first-child), 
.env-path-preview-host:not(:first-child), 
.env-path-preview-dash:not(:first-child){
    margin-left: -1px;
}