.env-icon{
    float: right;
}
.env-icon-left{
    float: left;
}
.env-icon-icon{
    color: #275EFE
}
.env-icon-icon:hover:not(.env-icon-icon-disabled){
    cursor: pointer;
    color: #99a3ba
}
.env-icon-small{
    font-size: 15px;

}
.env-icon-normal{
    font-size: 25px;

}
.env-icon-large{
    font-size: 35px;
}
.env-icon-icon-disabled{
    color: #99a3ba
}