.env-select{
    position: relative;
    display: flex;
    width: 100%;
    white-space: nowrap;
    max-width: 500px;
}
.env-select:not(:last-child) {
    margin-bottom: var(--data-margin-bottom);
    margin-right: auto;
    margin-left: auto;
}
.env-select:focus-within>.env-select-label{
    color: #fff;
    background: #678efe;
    border-color: #275efe;
}
.env-select-label{
    white-space: nowrap;
    display: block;
    text-align: center;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 25px;
    color: #99a3ba;
    background: #eef4ff;
    border: 1px solid #cdd9ed;
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}
.env-select-label:not(:first-child):not(:last-child), .env-select-select:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.env-select-label:first-child, .env-select-select:first-child {
    border-radius: 6px 0 0 6px;
}
.env-select-label:last-child, .env-select-select:last-child {
    border-radius: 0 6px 6px 0;
}
.env-select-label:not(:first-child), .env-select-select:not(:first-child) {
    margin-left: -1px;
}
.env-select-select{
    white-space: nowrap;
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'FontAwesome', 'sans-serif';
    border-radius: 6px;
    -webkit-appearance: none;
    color: #99A3BA;
    border: 1px solid #CDD9ED;
    background: #fff;
    transition: border .3s ease;
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-top: 0;
    margin-bottom: 0;
}
.env-select-select::placeholder{
    color: #CBD1DC;
}
.env-select-select:focus{
    outline: none;
    border-color: #275EFE;
}
.env-select-option{
    color: #000;
    font-family: 'FontAwesome', 'sans-serif';
}