.app{
    height: 500px;
    width: 400px;
    background-color: #131318;
}
.app-header{
    text-align: center;
    color: #fff;
}
.app-logo{
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}
.app-footer{
    text-align: center;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15px;
    background-color: #131318;
}
.fav_ico{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.hide{
    display: none;
}